- provide(:title, 'コメント')
.row
    = form_for [@micropost, @comment], html: {class: 'text-center offset-md-4 col-md-4'} do |f|
        %div.form-group
        = f.label :content, "コメント"
        %br/
        = f.text_area  :content, class: "form-control"
        %br/
        = f.submit "コメントする", class: "btn btn-primary"
